@font-face {
  font-family: "Open Sans";
  src: url("./fonts/Playa/AlegreyaSansSC-ExtraBoldItalic.ttf") format("ttf"),
    url("./fonts/Playa/AlegreyaSansSC-ExtraBoldItalic.ttf") format("ttf");
  font-weight: bold;
  font-display: swap;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans";
  font-weight: 400;
}