/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  div.tituloEmpresa {
    font-size: 50px;
    color: black;
    letter-spacing: 3px; 
  }
}
@media screen and (max-width: 500px) {
  .containerNav {
    width: 100%;
  }
  .containerLogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .containerUserChart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .button {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 500px) {
  .containerNav {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .containerLogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .containerUserChart {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.tituloEmpresa {
    font-size: 30px;
    color: black;
  }
}

*{
  margin: 0;
  padding: 0;
  
}

body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: "#f5f5f5";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
